body {
	background-color: #aaa;
	font-size: 30px;
}

.wrapper {
	display: grid;
	margin: 0 auto;
	justify-content: center;
	grid-template-columns: 1fr 2fr;
	grid-template-areas:
	"readme calc"
	"foot foot";
}

.readme {
		grid-area: readme;
		max-width: 800px;
}

p {
	font-size: 16px;
}

ul {
	font-size: 16px;
}

.parent {
	background: url("../images/bg.jpg") center no-repeat;
	grid-area: calc;
	width: 670px;
	height: 770px;
	display: grid;
	grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
	grid-template-areas:
	"disp2 disp2 disp2 disp2"
	"disp1 disp1 disp1 disp1"
	"seven eight nine mod"
	"four five six avg"
	"one two three slash"
	"point zero nil mul"
	"d10 d12 d20 min"
	"d4 d6 d8 plus"
	"cl cl equals equals";
}

.footer{
	grid-area: foot;
}
button {
	background-color: rgba(0, 0, 0, .3);
	font-size: 30px;
	color: white;
}

div {
	text-align: right;
	padding: 15px;
}

#disp1 {
	grid-area: disp1;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
}

#disp2 {
	grid-area: disp2;
	background-color: rgba(0, 0, 0, 0.7);
	background-image: url('../images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	overflow: hidden;
}

#seven {
	grid-area: seven;
}

#eight {
	grid-area: eight;
}

#nine {
	grid-area: nine;
}

#mod {
	grid-area: mod;
}

#four {
	grid-area: four;
}

#five {
	grid-area: five;
}

#six {
	grid-area: six;
}

#avg {
	grid-area: avg;
}

#one {
	grid-area: one;
}

#two {
	grid-area: two;
}

#three {
	grid-area: three;
}

#slash {
	grid-area: slash;
}

#point {
	grid-area: point;
}

#zero {
	grid-area: zero;
}

#mul {
	grid-area: mul;
}

#d10 {
	grid-area: d10;
}

#d12 {
	grid-area: d12;
}

#d20 {
	grid-area: d20;
}

.nil {
	grid-area: nil;
}

#d4 {
	grid-area: d4;
}

#d6 {
	grid-area: d6;
}

#d8 {
	grid-area: d8;
}

#plus {
	grid-area: plus;
}

#cl {
	grid-area: cl;
}

#equals {
	grid-area: equals;
}
